.stn-one {
    width: 70%;
    height: 90%;
}

.section-one {
    background-color: rgb(201, 192, 252);
    width: 100%;
    padding-left: 20rem;
    padding-right: 5rem;
    padding-top: 5rem;
}
.p{
    color: white;
}

.section-two {
    width: 100%;
    padding-left: 20rem;
    padding-right: 5rem;
    padding-top: 1rem;
    background-color:  rgb(227, 224, 250);
}


.play {
    background-color: rgb(83, 162, 83);
    height: 3rem;
    width: 3rem;
    border-radius: 93%;


}

.play-img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;

}



.more {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;

}

.img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;

}
.find{
   margin-right: 10rem;

}